
body {
    font-family: "Montserrat";
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
}

p{
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15% 12%;
}

.navbar {
    padding: 0;
    margin-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
    font-family: "Montserrat-Light";
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.download-button {
    margin: 5% 3% 5% 0;
}

#features {
    background-color: #fff;
    padding: 13% 7%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.icon-colour {
    color: #ef8172;
}

.feature-title {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}

.feature-discription {
    font-size: 1rem;
    color: #8f8f8f;
    width: 50%;
    margin: 0.5rem auto;
}

.icon-colour:hover {
    color: #ff4c68;
}

#testimonials {
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: bold;
    margin-bottom: 3rem;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 0 5% 5% 5%;
}

.press-image {
    width: 16%;
    margin: 50px;
}

.carousel-inner {
    padding: 7% 15%;

}

#pricing {
    padding: 100px;
    text-align: center;
    font-family: 'Montserrat-Black', sans-serif;

}

@media (max-width : 950px) {
    .title-image {
        position: relative;
        transform: rotate(0);
        left: 1%
    }

    #title-section {
        text-align: center;
    }
}

#cta {
    padding: 10% 15%;
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
}

.cta-content {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
    width: 70%;
    margin: 0 auto;
}

#footer {
    padding: 11% 15%;
    text-align: center;
}

.copyright {
    color: #8f8f8f;
    font-size: 0.6rem;
}